@import url("/src/css.reset/reset.css");

body {
  background-color: lightcoral;
}
.icon-size {
  size: 2em;
}

.body-bg {
  background-color: aqua;
}

/* averriguar como estilar las cosas, me da un error! */
